@CHARSET "ISO-8859-1";

.form-editar-admin form,.form-alta-admin form {
	padding: 30px;
}


 
.form-editar-admin form input,
.form-alta-admin form input,
.form-editar-admin form select,
.form-alta-admin form select {
	margin-bottom: 15px;
}

.form-editar-admin form div,.form-alta-admin form div {
	margin-bottom: 5px;
}

.bt-guardar,.bt-alta {
	margin-top: 25px;
	background: none;
	background-image: url("../../imagenes/bg-image-menu-principal.gif");
	background-repeat: repeat-x;
	font-size: 17px;
	color:white;
	border: 1px solid #BFD1E7;
}

.tasks-admin {
	display: inline-flex;
	margin-top: 10px;
}

.tasks-admin .enlace-admins {
	border: 1px solid #75AE11;
	border-bottom: 0px;
	padding: 6px;
	margin-right: 20px;
	background-color: #75AE11;
	border-radius: 10px 10px 0px 0px;
}

.tabla-admins td,
.tabla-admins th{
	padding: 2px !important;
}

.tasks-admin .enlace-admins-selected {
	border: 1px solid #75AE11;
	border-bottom: 0px;
	padding: 6px;
	margin-right: 20px;
	background-color: white;
	border-radius: 10px 10px 0px 0px;
}

.tasks-admin .enlace-admins a {
	color: white;
	text-decoration: none;
}

.tasks-admin .enlace-admins-selected a {
	color: #75AE11;
	text-decoration: none;
}
.num-registro {
	margin-bottom: 0px !important;
} 